 <!DOCTYPE html>
<html>
<head>
 <title>Table Plan</title> 
 <link href="/dist/css/plan.css" rel="stylesheet" type="text/css"> 
</head>

<body>
	<div class="container">
		<div class="head">
			<img src="images/logo.png" class="img-responsive">
		</div>
	
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<div  class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<!-- <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> -->
					<div class="dropdown">
						<a a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu</a>
							<ul class="dropdown-menu">
								<li><a href="homepage">Home</a></li>
								<li><a href="tickets">Tickets</a></li>
								<li><a href="the_ball">The Ball</a></li>
								<li><a href="sponsorship">Sponsorship</a></li>
								<li><a href="contact">Committee</a></li>
							</ul>
					</div>
				</div> 
			</div>

			   <!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse">
			  <ul class="nav navbar-nav">
				<li> <a href="homepage">Home</a></li>
				<li><a href="tickets">Tickets</a></li>
				<li><a href="the_ball">The Ball</a></li>	
				<li><a href="sponsorship">Sponsorship</a></li>
				<li><a href="contact">Committee</a></li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		<div class='container-inner'>
			<div class='table-form'>
				<h2>Seating</h2>
				<p class="title-text">Dining guests will be treated on the night to three courses of Italian delicacy the the Randolph hotel. Guests will be split into tables of 10. Please select the table at which you wish to be seated...

				<form role='form' method='POST' class='form-inline'>
					Name: <input type="text" class='form-control' name="name">
					
					Table number:	<select class="form-control" name="table">
									<option value=1>1</option>
									<option value=2>2</option>
									<option value=3>3</option>
									<option value=4>4</option>
									<option value=5>5</option>
									<option value=6>6</option>
									<option value=7>7</option>
									<option value=8>8</option>
									<option value=9>9</option>
									<option value=10>10</option>
									<option value=11>11</option>
									<option value=12>12</option>
									<option value=13>13</option>
									<option value=14>14</option>
									<option value=15>15</option>
									<option value=16>16</option>
									<option value=17>17</option>
									<option value=18>18</option>
									<option value=19>19</option>
									</select>

					<br>
					<br>
					<button type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
			<br><br>
			<div class='row'>		
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 1</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 1).count == 0 %>
					  		
					  	<%else 
				  			@persons= Person.where(:table => 1)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 2</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 2).count == 0 %>
					  		
					  	<%else 
				  			@persons= Person.where(:table => 2)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 3</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 3).count == 0 %>
					  		
					  	<%else 
				  			@persons= Person.where(:table => 3)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 4</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 4).count == 0 %>
					  	
					  	<%else 
				  			@persons= Person.where(:table => 4)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
			</div>
			<hr>
			<div class='row'>		
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 5</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 5).count == 0 %>
					  
					  	<%else 
				  			@persons= Person.where(:table => 5)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 6</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 6).count == 0 %>
					  		
					  	<%else 
				  			@persons= Person.where(:table => 6)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 7</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 7).count == 0 %>
					  		
					  	<%else 
				  			@persons= Person.where(:table => 7)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 8</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 8).count == 0 %>
					  		
					  	<%else 
				  			@persons= Person.where(:table => 8)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
			</div>
			<hr>
			<div class='row'>		
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 9</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 9).count == 0 %>
					  		
					  	<%else 
				  			@persons= Person.where(:table => 9)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 10</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 10).count == 0 %>
					  		
					  	<%else 
				  			@persons= Person.where(:table => 10)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 11</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 11).count == 0 %>
					  	
					  	<%else 
				  			@persons= Person.where(:table => 11)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 12</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 12).count == 0 %>
					  		
					  	<%else 
				  			@persons= Person.where(:table => 12)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
			</div>	
			<hr>
			<div class='row'>		
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 13</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 13).count == 0 %>
					  		
					  	<%else 
				  			@persons= Person.where(:table => 13)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 14</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 14).count == 0 %>
					  		
					  	<%else 
				  			@persons= Person.where(:table => 14)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 15</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 15).count == 0 %>
					  	
					  	<%else 
				  			@persons= Person.where(:table => 15)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
				<div class='col-sm-3'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 16</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 16).count == 0 %>
					  		
					  	<%else 
				  			@persons= Person.where(:table => 16)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
			</div>	
			<hr>
			<div class='row'>		
				<div class='col-sm-4'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 17</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 17).count == 0 %>
					  		
					  	<%else 
				  			@persons= Person.where(:table => 17)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
				<div class='col-sm-4'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 18</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 18).count == 0 %>
					  		
					  	<%else 
				  			@persons= Person.where(:table => 18)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
				<div class='col-sm-4'>
					<table class='table'>
					  <thead>
					    <tr><th>Table 19</th>
					  </thead>
					  <tbody>
					  	<% if Person.where(:table => 19).count == 0 %>
					  	
					  	<%else 
				  			@persons= Person.where(:table => 19)
					     	@persons.each do |p| %>
					      		<tr><td><%= p.name %></td></tr>
					    	<% end %>
						<% end %>
					  </tbody>
					</table>
				</div>
			</div>	
			<hr>		
		</div>
	</div>
</body>
